* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

html,
body {
    width: 100%;
    font-family: "Helvetica Neue",
        Helvetica,
        "PingFang SC",
        "Hiragino Sans GB",
        "Microsoft YaHei",
        "微软雅黑",
        Arial,
        sans-serif;
    background-color: #F9F9FB;
}

#app .wrapp {
    width: 960px;
    margin: 0 auto;
}

.img-place-holder {
    height: 0 !important;
}